
*{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 160px;
	background-color: #27C7A8;
}
.footer{
	width: 100%;
	background-color: #EBEBEB;
	position: absolute;
	left: 0;
	bottom: 0;
}
.home-type{
	background: #fff;
	
}
a{
	
	height: 100px;
	text-decoration: none;
	display: block;	
}
.my {
	
}
.my{
	background: url("../img/tab-icon-mine-sel@2x.png")center no-repeat;
	background-size:100px;
	
	
	
}
.find{
	background: url("../img/tab-icon-find-nor@2x.png")center no-repeat;
	background-size:100px ;
	
	
}
.sech{
	background: url("../img/tab-icon-search-nor@2x.png")center no-repeat;
	background-size:100px 100% ;
	
}


.home-type li {
	width: 33.33%;
	float: left;
	text-align: center;
	padding-bottom: 40px;
	list-style: none;
	/*border: 1px solid red;*/
	position: relative;

}
span {
	color: red;
	font-size: 36px;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -36px;


	
}

h1{
	position: absolute;
	left: 50%;
	top: 70px;
	margin-left: -70px;
	font-size: 70px;
}
.curent{
	color: #27C7A8;
	z-index: 10;

}
