
*{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 160px;
	background-color: #27C7A8;
}
.footer{
	width: 100%;
	background-color: #EBEBEB;
	position: absolute;
	left: 0;
	bottom: 0;
}
.home-type{
	background: #fff;
	
}
a{

	text-decoration: none;
}
.home-type li {
	width: 33.33%;
	float: left;
	text-align: center;
	padding-bottom: 10px;
}
.home-type li img{
	width: 30%;
	display: block;
	margin: 0 auto;
	margin-bottom: 6px;
}
.home-type li span {
	color: gray;
	font-size: 30px;
}
.home-type li span:nth-child(1){
	color: blue;
}
h1{
	position: absolute;
	left: 50%;
	top: 70px;
	margin-left: -70px;
	font-size: 70px;
}